@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

* {
  transition: 0.2s;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 1, 0.84);
}

body::-webkit-scrollbar-thumb {
  background-color: brown;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: 18%;
  background-size: cover;
  color: white;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

select {
  outline: none;
  border: none;
  width: 200px;
  border-radius: 10px;
  width: 100%;
}

.title-prayer {
  border-bottom: 5px solid;
  padding: 10px;
  background-color: brown;
  border-radius: 40px;
  font-weight: 600;
  transition: 1.5s;
  opacity: 0;
}

.error {
  background-color: brown;
}

.result {
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
  opacity: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.show {
  animation: 0.5s fedeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fedeIn {
  to {
    opacity: 1;
  }
}