@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

* {
  transition: 0.2s;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  color: white;
  min-height: 100vh;
}

select {
  outline: none;
  border: none;
  width: 200px;
  border-radius: 10px;
  width: 100%;
}

.result {
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
  min-height: 50vh;
  opacity: 0;
}

.show {
  animation: 0.5s fedeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fedeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
